.dashboardcard {
  width: 100%;
}

.dashboardcard .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

@media (max-width: 319px) {
  .dashboardcard .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .dashboardcard .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.dashboardcard .card-container .card {
  width: 25%;
  height: 15em;
  top: 139px;
  left: 30px;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 319px) {
  .dashboardcard .card-container .card {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767px) {
  .dashboardcard .card-container .card {
    margin-bottom: 0.5rem;
  }
}

.dashboardcard .card-container .card.blue-card {
  background: #7d9ceb;
}

@media (max-width: 319px) {
  .dashboardcard .card-container .card.blue-card {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767px) {
  .dashboardcard .card-container .card.blue-card {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

.dashboardcard .card-container .card.green-card {
  background: #4ab938;
}

@media (max-width: 319px) {
  .dashboardcard .card-container .card.green-card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .dashboardcard .card-container .card.green-card {
    width: 100%;
  }
}

.dashboardcard .card-container .card.dark-blue-card {
  background: #2e3750;
}

@media (max-width: 319px) {
  .dashboardcard .card-container .card.dark-blue-card {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .dashboardcard .card-container .card.dark-blue-card {
    width: 100%;
  }
}

.dashboardcard .card-container .card .icon {
  width: 6.375rem;
  height: 6.375rem;
  padding-left: 0.75em;
}

.dashboardcard .card-container .card .text-wrapper {
  width: 100%;
  padding-right: 0.75em;
  text-align: end;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #ffffff;
}

.dashboardcard .card-container .card .text-wrapper .title {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  color: #ffffff;
}

.dashboardcard .card-container .card .text-wrapper .amount {
  width: 0.6875em;
  text-align: end;
  font-weight: normal;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 1em;
  line-height: 1.5em;
  color: #ffffff;
}

.dashboardcard .graph {
  padding-top: 1rem;
}
/*# sourceMappingURL=dashboard-card.styles.css.map */