@import "../../../styles/variables.scss";
@import "../../../styles/lib/include-media.scss";

.dashboardcard {
  width: 100%;
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    @include media("<phone") {
      flex-direction: column;
    }
    @include media("<tablet") {
      flex-direction: column;
    }
    .card {
      width: 25%;
      height: 15em;
      top: 139px;
      left: 30px;

      border-radius: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      @include media("<phone") {
        margin-bottom: 0.5rem;
      }

      @include media("<tablet") {
        margin-bottom: 0.5rem;
      }

      &.blue-card {
        background: #7d9ceb;

        @include media("<phone") {
          width: 100%;
          margin-bottom: 0.5rem;
        }

        @include media("<tablet") {
          width: 100%;
          margin-bottom: 0.5rem;
        }
      }
      &.green-card {
        background: #4ab938;

        @include media("<phone") {
          width: 100%;
        }

        @include media("<tablet") {
          width: 100%;
        }
      }
      &.dark-blue-card {
        background: #2e3750;

        @include media("<phone") {
          width: 100%;
        }

        @include media("<tablet") {
          width: 100%;
        }
      }

      .icon {
        width: 6.375rem;
        height: 6.375rem;
        padding-left: 0.75em;
      }

      .text-wrapper {
        width: 100%;
        padding-right: 0.75em;
        text-align: end;

        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5em;
        color: #ffffff;

        .title {
          text-align: end;
          display: flex;
          justify-content: flex-end;
          font-family: $font-family-poppins;
          font-size: 1em;
          color: #ffffff;
        }
        .amount {
          width: 0.6875em;
          text-align: end;

          font-weight: normal;
          font-family: $font-family-poppins;
          font-style: normal;
          font-size: 1em;
          line-height: 1.5em;
          color: #ffffff;
        }
      }
    }
  }

  .graph {
    padding-top: 1rem;
  }
}
