@import "../../../styles/variables.scss";

.dashboardcard {
  width: 100%;
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    .card {
      width: 25%;
      height: 15em;
      top: 139px;
      left: 30px;

      border-radius: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &.blue-card {
        background: #7d9ceb;
      }
      &.green-card {
        background: #4ab938;
      }
      &.dark-blue-card {
        background: #2e3750;
      }

      .icon {
        width: 3.375em;
        height: 3.375em;
        padding-left: 0.75em;
      }

      .text-wrapper {
        width: 100%;
        padding-right: 0.75em;
        text-align: end;

        font-family: $font-family-poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 1.5em;
        color: #ffffff;

        .title {
          text-align: end;
          display: flex;
          justify-content: flex-end;
          font-family: $font-family-poppins;
          font-size: 1em;
          color: #ffffff;
        }
        .amount {
          width: 0.6875em;
          text-align: end;

          font-weight: normal;
          font-family: $font-family-poppins;
          font-style: normal;
          font-size: 1em;
          line-height: 1.5em;
          color: #ffffff;
        }
      }
    }
  }

  .graph {
    padding-top: 1rem;
  }
}
