.price-card {
  transition: transform 0.2s;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
  }
}

.price-card:hover {
  transform: scale(1.1);
}

.price-card-a {
  transition: transform 0.2s;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;
  }
}

.price-card-a:hover {
  transform: scale(1.07);
}

.balance {
  padding-bottom: 50px;
}
