@import "../../../styles//variables.scss";

.custom-button {
  min-height: 3.3125em;
  border-radius: 8px;
  width: 15em;
  border: 1px solid $primary-green;
  font-family: $font-family-poppins;
  font-weight: $font-weight-bold;
  font-size: 1.125em;
  color: $primary-green;
  background-color: transparent;
  cursor: pointer;
  // margin: auto;

  &.button:disabled {
    opacity: 0.3;
  }

  &.mini-button {
    min-height: 2.625em;
    width: 5.25em;
    border-radius: 3px;
    font-family: $font-family-poppins;
    font-size: 0.75em;
  }

  &:hover:not(:disabled):not(.disabled) {
    box-shadow: inset 0 0 6.25em 6.25em rgba(255, 255, 255, 0.1);
  }

  &.bg-green {
    background-color: $primary-green;
    border: none;
  }

  &.bg-blue {
    background-color: $primary-blue;
    border: none;
  }

  &.text-white {
    color: $white;
  }

  &.text-blue {
    color: $primary-blue;
  }

  &.with-next-icon {
    position: relative;
    padding: 0.9375em 2.5em;

    // &:after {
    //   content: "";
    //   background-image: url("../../../assets/svgs/icon-right-arrow.svg");
    //   display: block;
    //   position: absolute;
    //   right: 20px;
    //   top: 20px;
    //   width: 12px;
    //   height: 12px;
    //   background-repeat: no-repeat;
    //   background-size: 12px 12px;
    //   align-self: center;
    // }
  }

  &.tiny-button {
    min-height: 1.75em;
    width: 5.25em;
    border-radius: 2px;
    font-family: $font-family-poppins;
    font-size: 0.75em;
  }

  &.text-green {
    color: $primary-green;
  }

  &.right {
    margin-left: auto;
  }

  &.btn-icon {
    border-radius: 100%;
    width: auto;
  }
}
