@import '../../styles/variables.scss';

.container {
  width: 75vw;
  margin: auto;
  height: 100%;

  .image {
    background-image: url('../../assets/images/bg-full-x2.png');
    min-height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    // background-size: cover;
    // position: relative;
    .title {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      display: flex;

      font-family: $font-family-poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 25px;
      line-height: 37px;
      color: #fffbfb;
    }
  }
}
