.container {
  width: 30%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    padding-top: 4em;
    background-image: url("../../assets/images/bg-full.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 2em;
  }
}

.cardimage {
  display: flex;
  justify-content: center;
}
