@import '../../styles//variables.scss';

.image {
  background-image: url('../../assets/images/bg-full-x2.png');
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding-bottom: 32px;
  // background-size: cover;
  // position: relative;
}

.container {
  width: 75vw;
  margin: auto;
  height: 100%;
}
