.container {
  width: 100%;
  margin: auto;
  height: 100vh;

  .image {
    padding-top: 64px;
    background-image: url("../../assets/images/bg-full.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 32px;
  }
}
