@import "../../styles/variables.scss";

.forgot-password {
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-text {
    padding-top: 7.75em;
    font-size: 1.5625em;
    font-weight: $font-weight-bold;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5rem;

    .button {
      padding: 6.25rem 0 8.31rem 0;
    }
  }
}

// .enter {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   justify-content: center;

//   color: #0a0909;
//   font-size: 25px;
//   font-family: $font-family-poppins;
//   font-weight: normal;
//   font-style: normal;
// }

// .details-1 {
//   display: flex;
//   align-items: center;
//   flex-direction: column;
//   justify-content: center;
//   width: 100%;
// }

// .details-2 {
//   align-items: center;
//   flex-direction: column;
//   display: flex;
//   justify-content: center;
// }

// .text-a {
//   font-size: 10px;
//   font-family: $font-family-poppins;
//   font-weight: normal;
//   font-style: normal;
// }
