$primary-blue: #004884;
$primary-green: #52ae32;
$secondary-green: #bfd996;
$gray: #8f8f8f;
$light-gray: #efefef;

$white: #ffffff;
$black: #000000;
$charcoal: #3c3c3b;
$red: #f5574b;
$dirty-white: #d9d8d8;
