$font-poppins: "Poppins";

$font-family-poppins: $font-poppins, sans-serif;

$font-weight-black: 900;
$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extra-light: 200;
$font-weight-thin: 100;

$primary-blue: #004884;
$primary-green: #52ae32;
$primary-yellow: #fce54d;
$secondary-blue: #bcd0da;
$secondary-green: #bfd996;
$secondary-yellow: #fcf1a4;
$gray: #8f8f8f;
$light-gray: #efefef;
$white: #ffffff;
$black: #000000;
$charcoal: #3c3c3b;
$red: #f5574b;
$dark-green: #075156;
$dirty-white: #d9d8d8;
$border-color: #cccccc;
$greyish: #cccccc;
$light-grey: #eeeeee;
$orange: #ffa016;

$error: $red;
$toggle-button-disabled: #a1a1a1;
$radio-button-border: #979797;
$border-color: #cccccc;
$text-shadow: 1px 1px 5px #333;
