@import "../../styles/variables.scss";
.wallet {
  .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .balance {
    border: 1px solid #2dcc5a;

    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: normal;
  }

  .box {
    border: 0 solid #2dcc5a;
  }

  .image {
    background-image: url("../../assets/images/bg-full-x2.png");

    width: 80%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .text {
    font-family: $font-family-poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
  }
}
