@import "../../../../styles/variables.scss";

.input {
  height: 3.25em;
  width: 25vw;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #2dcc5a;
  padding-left: 1em;

  font-family: $font-family-poppins;
  font-size: 1em;
  color: #aca6a6;
  font-weight: $font-weight-regular;

  &:focus {
    border: 1px solid #2dcc5a;
    outline: none;
  }
}
