.sms-page .grid-row {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  text-align: end;
}

.sms-page .input-number {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.sms-page .input-number input::-webkit-outer-spin-button,
.sms-page .input-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sms-page .input-number input[type="number"] {
  -moz-appearance: textfield;
}

.sms-page .add-recipient-wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  padding-bottom: 3.8rem;
}

.sms-page .recipients-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3.8rem;
  display: flex;
  overflow: hidden;
  word-break: break-word;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: end;
  align-items: center !important;
}

.sms-page .recipients-list-wrapper .recipient-label {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  display: inline-block;
}

.sms-page .recipients-list-wrapper .recipients-list {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  border: 1px solid #2dcc5a !important;
  border-radius: 8px;
  padding: 1rem;
  color: gray;
  margin-left: 1.2rem;
}

.sms-page .recipients-list-wrapper .clear-button {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2em;
  border: 1px solid gray;
  border-radius: 8px;
}

.sms-page .sms-detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  text-align: end;
  padding-bottom: 3.8rem;
  align-items: center !important;
}

.sms-page .sms-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
}

.sms-page .sms-inputs input[type="number"]::-webkit-inner-spin-button,
.sms-page .sms-inputs input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.sms-page .sms-inputs .sms-elements {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sms-page .upload-contacts {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 2rem;
  border: 1px solid;
  height: 52px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding: 1rem;
  border-radius: 9px;
  background-color: #52ae32;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.sms-page .upload-contacts input[type="file"] {
  display: none;
}

.sms-page .text {
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
}

.sms-page .button-a {
  font-size: 12px;
  padding-left: 46px;
}
/*# sourceMappingURL=sms-page.styles.css.map */