@import "../../styles/variables.scss";

.enter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  color: #0a0909;
  font-size: 25px;
  font-family: $font-family-poppins;
  font-weight: normal;
  font-style: normal;
}

.details-1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.details-2 {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.text-a {
  font-size: 10px;
  font-family: $font-family-poppins;
  font-weight: normal;
  font-style: normal;
}
