.submitfilebutton {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  font-weight: bold;
  cursor: pointer;

  margin-left: 2.625em;
  font-size: 12px;
  width: 5em;
  min-height: 0;
}

.choose-wrapper {
  background-color: #afafaf;
  border: #000000;
}
