@import "../../../styles/variables.scss";

.create-account {
  // .image {
  .create-account-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // padding-top: 64px;
    .title {
      display: flex;

      font-family: $font-family-poppins;
      font-size: 1.5625em;
      font-weight: 600;
      // line-height: 37px;
      font-style: normal;
      color: #fefcfc;
      width: 100%;
      justify-content: center;
      padding-bottom: 4em;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 60%;

      .create-button {
        display: flex;
        justify-content: flex-end;
        margin: 0;
      }

      .text-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2em;
      }

      .email-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 2em;
        // margin-bottom: 37px;
        // margin-top: 22px;
        // margin-left: 37px;
        // margin-right: 80px;
      }

      .inputwrapper1 {
        align-self: flex-start;
        display: flex;
        margin-left: 2.3125em;
      }
    }

    .createaccount {
      width: 53.4375em;
      height: 39.1875em;
      top: 2.6875em;
      left: 3.625em;
      color: #fefcfc;
      background-color: #fefcfc;
    }
    // }
  }
}
