.createaccount {
  width: 855px;
  height: 627px;
  top: 43px;
  left: 58px;
  color: #fefcfc;
  background-color: #fefcfc;
}

.inputwrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputwrapper1 {
  align-self: flex-start;
  display: flex;
}

.button {
  display: flex;
  align-self: flex-start;
}
