.container {
  // width: 100%;
  // height: 100%;
  // margin: auto;

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../../../assets/images//bg-full.png");
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // padding-bottom: 32px;
  }
}
