@import "../../styles/variables.scss";

.icon {
  display: flex;
  flex-direction: row;

  padding-right: 0.75em;
  width: 2.0625em;
  height: 2.0625em;
  left: 3.625em;
  top: 4.5em;
  font-size: 1.5em;
}

.phone {
  width: 11.0625em;
  height: 2.25em;
  left: 6.4375em;
  top: 17.5em;
  color: #000000;

  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 2.25em;
}

.envelope {
  width: 12.3125em;
  height: 2.25em;
  left: 6.4375em;
  top: 30.3125em;
  padding-left: 0.75em;
  color: #000000;
  color: #2dcc5a;

  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 2.25em;
}

.list-style {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding: 4.2rem 0 4.2rem 0;
}

.description-container {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-content: center;
  justify-content: center;
}

.lets-talk-style {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}
