.welcome {
  width: 304px;
  height: 96px;
  top: 302px;
  left: 85px;
  position: absolute;
  font-family: $font-family-poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 96px;
  color: #ffffff;
}
