@import "../../styles/variables.scss";

.add-users {
  display: flex;

  justify-content: flex-end;
  // margin-bottom: 3.125em;
}

.add-input-user {
  margin-left: 2em;
  margin-right: 3em;
}

.users {
  .usersform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4.25rem;
  }

  .userstitle {
    font-size: 2.5em;
    font-family: $font-family-poppins;
    font-weight: $font-weight-bold;
  }
}
