@import "../../styles/variables.scss";

.users {
  .usersform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.1rem;
  }

  .userstitle {
    font-size: 2.5em;
    font-family: $font-family-poppins;
    font-weight: $font-weight-bold;
    padding-left: 60px;
  }

  .users-data {
    padding-left: 60px;
  }
}
