@import "../../styles/variables.scss";

.users {
  .user-button-wrapper {
    background: #52ae32;
    height: 50px;
    width: 100%;
    color: white;

    font-family: $font-family-poppins;
  }

  .usersform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.1rem;
  }

  .userstitle {
    font-size: 2.5em;
    font-family: $font-family-poppins;
    font-weight: $font-weight-bold;
  }
}
